doctype html
html
  head
    meta(charset="utf-8")
    title Markdown
    link(rel="stylesheet", href="css/style.css")
  body
    h3 Markdown editor
    markdown
      textarea
        |_aa_
        |*bb*
        |cc
      preview
    script(type="text/javascript" src="js/Markdown.js")
    script(type="text/javascript" src="js/index.js")
