*
  box-sizing: border-box
body
  margin: 0
markdown
  display: flex
  justify-content: center
  width: 100%
  height: 100vh
  textarea, preview
    padding: 10px 20px
    width: 50%
  textarea
    background-color: #666
    color: #ddd
  preview
    background-color: #fff
    color: #333
    .bold
      font-weight: bold
  @media screen and (max-width: 900px)
    flex-direction: column
    textarea, preview
      width: 100%
      height: 50%
